<div class="row">
	<div class="twelve columns">
		<h1 style="color: red">Ton lien de création de partie est invalide</h1>
		<p>Demande un nouveau lien à Coyote en MP grâce à la commande <code>creer</code></p>
	</div>
</div>