<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/normalize.css'/>
		<link rel='stylesheet' href='/stylesheets/skeleton.css'/>
		<link href="/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
		<link rel='stylesheet' href='/stylesheets/style.css'/>
		<script src="/flatpickr/flatpickr.js"></script>
		<script src="/flatpickr/l10n/fr.js"></script>
	</head>
	<body>
		<div class="container">

			<div class="row">
				<div class="twelve columns offset-by-five">
					<img src="/images/logo-gks.png" height="100px"/>
				</div>
			</div>

			{{{body}}}
		</div>
	</body>
</html>
