<div class="row">
	<div class="twelve columns">
		<h1>Ta session Gamekult Steam #SessionGKS a bien été créée !</h1>
		<p>Elle apparaitra dans le salon #sessions_gks d'ici <strong>60 secondes</strong></p>
	</div>
</div>